<div id="page_dots" style="visibility: hidden;">
    <p style="position: absolute; top:900px; left:850px; width:15vw;" data scroll data-scroll-speed="100">
       <module href="/texts/dots.html"></module>
    </p>
    <audio id="plotter_audio" loop>
        <source src="Plotter2.m4a" type="audio/mp4">
    </audio>
    <img src="dots.jpg" style="position:absolute; left:-20vw; top:1500px;border-width: 120px;border-color: black;border-style: solid;" data-scroll data-scroll-speed="10">
    <p style="position: absolute; top:2500px; left: 850px; width: 20vw; color:black;" data-scroll data-scroll-speed="10">
        Detail of <i>Error Space's</i> dot epicentre. 
        Some of the dots have been moulded together to circles and other geometry by the plotter's path optimization software because their distance was smaller than the smallest possible movement of the device.
        The resulting, even more aleatoric character reflects the organic forms that - being the basis of the mathematical transformation resulting in the dots - determine this work.
    </p>
</div>