<div class="ontop" id="page_sieder2" style="visibility: hidden;">
    <a class="btn_scroll ctrl" data-scrollpos=2500 href="javascript:void(0)" style="position: absolute; top: -20vh; right:0; color: black;" data-scroll data-scroll-speed="1.8">
        <span class="material-symbols-outlined" style="font-size: 1024px !important; ">
            arrow_downward
        </span>
    </a>
    <a class="btn_scroll ctrl" data-scrollpos=0 href="javascript:void(0)" style="position: absolute; top: 2500px; right:0; color: black;" data-scroll data-scroll-speed="1.8">
        <span class="material-symbols-outlined" style="font-size: 1024px !important; ">
            arrow_upward
        </span>
    </a>
</div>