<div class="ontop" id="page_bike" style="visibility: hidden;">
    <p style="position: absolute; right: 0; top:25vh; width:25vh; color: black;">
    A fitness bike from the 70s that controls video playback on two screens - make it rain!
    <i>Olympic Strampler</i> is an attempt to connect an object that exists for itself and has a defined purpose to an art installation. To measure an everyday activity and represent it artistically without betraying it, giving visitors a chance to engage in a forged alltag.
    </p>
    <p style="position: absolute; right: 0; top:60vh; color: black;">
        <i style="font-size: 72px;">Olympic Strampler</i> <br/>
    </p>
</div>