<div id="page_rain" style="visibility: hidden;">
    <a class="btn_scroll ctrl" data-scrollpos=650 href="javascript:void(0)" style="position: absolute; top: 9.1vh; left: 11.5vw; color: black !important;" data-scroll data-scroll-speed="1.8">
        <span class="material-symbols-outlined">
            arrow_downward
        </span>
    </a>
    <h1 style="position: absolute; top: 1215px; left:-160px; font-size: 1vh; color: #777777;" data-scroll data-scroll-speed="1">RAIN</h1>
    <h1 style="position: absolute; top: 1215px; left:220px; font-size: 1vh; color: #777777;" data-scroll data-scroll-speed="1">RAIN</h1>
    <h1 style="position: absolute; top: 1215px; left:680px; font-size: 1vh; color: #777777;" data-scroll data-scroll-speed="1">RAIN</h1>
    <h1 style="position: absolute; top: 1215px; left:1205px; font-size: 1vh; color: #777777;"data-scroll data-scroll-speed="1">RAIN</h1>
</div>