<div class="ontop" id="page_ketchup" style="visibility: hidden;">
    <div style="position:absolute; height:20vh; top:20vh; left:0; width: 50vw;">
    <p class="sans" style="position: absolute; top: 0; left:0; font-size: 128px;" data-scroll data-scroll-speed="5">press enter</p>
    </div>

    <div style="position:absolute; top:0; left:0;" data-scroll data-scroll-speed="50">
    <p class="monospace" >&lt;!DOCTYPE html&gt;</p>
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&lt;html&gt;</p>
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&lt;head&gt;</p>
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta name="zeit zeit keine gnade fur die knie" content="width=device-width, initial-scale=1"&gt;</p>
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&lt;/head&gt;</p>
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&lt;body&gt;</p>
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&lt;h3&gt; A poem about Zeit&lt;/h3&gt;
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&lt;h1&gt; zeit zeit keine gnade fur die knie&lt;/h1&gt;
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;ein ganzer Donnerstag im Bett&lt;br&gt;&lt;br&gt;
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;nicht nur das Krumme posten sich auch&lt;br&gt;&lt;br&gt;
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;die Knie und &lt;br&gt; &lt;br&gt;  
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;warten aufs erbarmen der Erdbeschleunigung auf einen Stein.&lt;br&gt;&lt;br&gt; 
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;"Zwei Schrauben ungleicher Länge: Eine für dich." &lt;br&gt;&lt;br&gt; 
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;Und du versuchst es mit allen Tricks. Du zündest den Firlefanz ab&lt;br&gt;&lt;br&gt;
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;und verkaufst die Reste an Firmen, die daraus neue Zündschnur machen.&lt;br&gt;&lt;br&gt; 
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;Du schluckst jeden Schnulzenquatsch auf Youtube &lt;br&gt;&lt;br&gt;
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;und hältst einen Vortrag über ganz andere Themen, als deine Fortschrittskurve am Montagmorgen zeigt.&lt;br&gt;&lt;br&gt;  
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;Oder? Wir sind hier nicht bei "Die Welt" oder in der "Welt
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;?php
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo 'Tafeln sind voll';
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo "Keine Tafeln";
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo "Zeit keine Gnade";        
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?>
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&nbsp;&nbsp;&lt;/body&gt;
    <module href="/texts/breaks.html"></module>
    <p class="monospace" >&lt;/html&gt; 
    <module href="/texts/breaks.html"></module>
    <p class="monospace">- An HTML poem by OpenAi's GPT-3 Codex AI.</h1>
    &nbsp;&nbsp;&nbsp;&nbsp;<module href="/texts/breaks.html"></module>
    </div>

</div>