<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="./bundle.js"></script>
</head>
<body>
    <div id="next" class="ctrl">
        <a href="javascript:void(0);">
            →
        </a>
    </div>
    <div id="prev" class="ctrl">
        <a href="javascript:void(0);">
            ←
        </a>
    </div>

    <div id="display-container" data-scroll-container>
        <div class="content" data-scroll data-scroll-speed="1">
            <module href= "/pages/page_start.html"></module>
            <module href= "/pages/page_ketchup.html"></module>
            <module href= "/pages/page_rain.html"></module>
            <module href= "/pages/page_sieder.html"></module>
        </div>
    </div>
    <video id="video-0" class="video-current" preload muted loop>
        <source src="knee_final_small.mp4" type="video/mp4">
    </video>

    <video id="video-1" class="video-queued" preload muted loop>
        <source src="rad.mp4" type="video/mp4">
    </video>

    <video id="video-2" class="video-queued" preload muted loop>
        <source src="sieder_final_small.mp4" type="video/mp4">
    </video>

    <div id="loading-container" style="display:none; position:absolute; top:0; left: 0; width: 100vw; height: 100vh; background-color: #88888888; z-index: 10000;">
        <p id="loading"> loading </p>
    </div>

    <!---video id="prev-video" preload muted loop>
        <source src="knee2.mp4" type="video/mp4">
    </video--->

</body>
</html> 