<!DOCTYPE html>
<html>
<head> 
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Josefin+Slab:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&family=Poiret+One&family=Roboto+Mono:wght@100;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="./bundle.js"></script>
</head>
<body>
    <div id="next" class="ctrl">
        <a href="javascript:void(0);">
            <span class="material-symbols-outlined">
                arrow_forward
            </span>
        </a>
    </div>
    <div id="prev" class="ctrl">
        <a href="javascript:void(0);">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </a>
    </div>

    <div id="display-container" data-scroll-container>
        <div class="content" data-scroll data-scroll-speed="1">
            <module href= "/pages/page_start.html"></module>
            <module href= "/pages/page_ketchup.html"></module>
            <module href= "/pages/page_rain.html"></module>
            <module href= "/pages/page_sieder.html"></module>
            <module href= "/pages/page_dots.html"></module>
        </div>
    </div>
    <video id="video-0" class="video-current" preload muted loop>
        <source src="knee_final_small.mp4" type="video/mp4">
    </video>

    <video id="video-1" class="video-queued" preload muted loop>
        <source src="rad.mp4" type="video/mp4">
    </video>

    <video id="video-2" class="video-queued" preload muted loop>
        <source src="sieder_final_small.mp4" type="video/mp4">
    </video>

    <div id="loading-container" style="display:none; position:absolute; top:0; left: 0; width: 100vw; height: 100vh; background-color: #88888888; z-index: 10000;">
        <p id="loading"> loading </p>
    </div>

    <!---video id="prev-video" preload muted loop>
        <source src="knee2.mp4" type="video/mp4">
    </video--->

</body>
</html> 