<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="./bundle.js"></script>
</head>
<body>
    <div id="next" class="ctrl">
        <a href="javascript:void(0);">
            &gt;
        </a>
    </div>
    <div id="prev" class="ctrl">
        <a href="javascript:void(0);">
            &lt;
        </a>
    </div>
    <div data-scroll-container>
        <div class="content" data-scroll>

            <h1 style="position: absolute; top: 10px; left:0;" >Skinned Up Knee 1972 ☟</h1>
            <h1 style="position: absolute; top: 200px; left:30px;" >Skinned Up Knee 1972 ☟</h1>
            <p style="position: absolute; top: 900px; left:650px; width:10vw;" data-scroll data-scroll-speed="2">Dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem enim assumenda sapiente quo necessitatibus. Delectus asperiores impedit, quasi molestias sequi esse eligendi ad maxime odit illum, nulla pariatur error provident?</h1>
            <h1 style="position: absolute; top: 600px; left:30px;" >Skinned Up Knee 1972 ☟</h1>
            <h1 style="position: absolute; top: 800px; left:0;">Skinned Up Knee 1972 ☟</h1>
            <h1 style="position: absolute; top: 1000px; left:30px;" >Skinned Up Knee 1972 ☟</h1>
            <h1 style="position: absolute; top: 1200px; left:0;">Skinned Up Knee 1972 ☟</h1>
            <h1 style="position: absolute; top: 1400px; left:30px;">Skinned Up Knee 1972 ☟</h1>

        </div>
    </div>

    <video id="video-0" class="video-current" preload muted loop>
        <source src="knee2.mp4" type="video/mp4">
    </video>

    <video id="video-1" class="video-queued" preload muted loop>
        <source src="dots.mp4" type="video/mp4">
    </video>

    <video id="video-2" class="video-queued" preload muted loop>
        <source src="dots.mp4" type="video/mp4">
    </video>

    <!---video id="prev-video" preload muted loop>
        <source src="knee2.mp4" type="video/mp4">
    </video--->

</body>
</html> 