
Feelings and representations of the exhibition have been colected on this website. Some of the cloudy 3D-worlds that are ready for fly-through here show moments in the works' production processes.
Others may seem unrelated in their depiction of disconnected situations - they display everyday moments during the artworks' creation frozen in time. In a similar way of commenting art with art, the two HTML-Poems on this
webpage try to obtain a second opinion on the time-related angst from OpenAI's GPT-3 Codex