<i>Perpetual das Vesper</i> is the result of the attempt to display the (now challenged for the first time in 30 years) historical oddness of an energy grid that is available
and working 24/7. The installation determines its own water requirements and refills the cooking glass to a sufficient amount of water for the heater to not overheat.

On the other hand, it is always on the brink of failure: the immersion heater has a temperature dependent one-time fuse. Any disruption in the water supply would therefore destroy the installation irrecoverably.